.flutter_sdk/
flutter/
.env
backend/.env
backend/vendor/
backend/node_modules/
backend/public/build/
backend/public/hot
backend/storage/*.key
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/database.sqlite
backend/database/database.sqlite-shm
backend/database/database.sqlite-wal
backend/.phpunit.result.cache
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
